* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.banner {
  display: flex;
  align-items: center;
  background-color: rgb(22, 22, 22);
  color: white;
  border-radius: 30px;
  margin: 50px auto;
}
.banner-left {
  padding: 50px;
  flex: 1;
}
.font {
  font-family: Poppins;
}
.banner-left h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}
.banner-left p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 15px 0;
  max-width: 85%;
}
.btn {
  font-weight: 600;
  color: white;
  background: rgb(221, 0, 0);
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
}
.btn i {
  width: 24px;
  height: 24px;
  margin: 0px 10px;
}
.banner-right img {
  width: 581px;
  height: 656px;
  display: block;
}
.banner-right {
  flex: 1;
}

/* Upcoming Matches */
.upcoming-matches {
  display: flex;
  padding: 50px 0;
  gap: 20px;
}
.upcoming-matches-left {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  background: rgb(22, 22, 22);
  width: 312px;
  height: fit-content;
  margin-top: 10px;
}
.upcoming-matches-right {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.upcoming-matches-left .btn:nth-child(1) {
  background: rgb(255, 255, 255);
  color: rgb(22, 22, 22);
  font-family: Poppins;
}
.upcoming-matches-left .btn:nth-child(2) {
  background: rgb(255, 255, 255);
  color: rgb(22, 22, 22);
  font-family: Poppins;
}
@media (max-width: 992px) {
  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid whitesmoke;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .banner .banner-left {
    margin-bottom: 50px;
    padding-left: 0;
    padding-top: 30px;
  }
  .banner .banner-left p {
    /* max-width: 100%; */
    margin: 15px auto;
  }
}

/* card */
.upcoming-matches-right .card {
  height: 180px;
  width: 100%;
  margin: 10px;
}
.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 1px solid rgb(22, 22, 22);
  border-radius: 5px;
  padding: 8px 17px;
  margin-top: 10px;
}
.card-bottom {
  display: flex;
  gap: 20px;
  color: rgba(22, 22, 22, 0.7);
}
.upcoming-matches-right .card {
  width: 312px;
  height: 362px;
  border: 0.5px solid whitesmoke;
}
.upcoming-matches-right .card h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
.upcoming-matches .card .card-body {
  padding: 10px;
}
/* Footer area */
.footer-area {
  width: 100%;
  height: 444px;
  background: rgb(22, 22, 22);
}
